<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Ad Script Bot</h1>
    <p>Zerp, I'm an advertising script writer for TV commercials. I'm also private, enter the username and password so we can start working together.</p>
    <form>
      <fieldset>
        <legend>Login</legend>
        <label>Username</label>
        <input type="text" placeholder="Username…">
        <input type="password" placeholder="Password…">
        <button type="submit" class="btn">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
<div class="container">
  <form class="row">
    <div class="col-md-6">
        <fieldset>
          <legend>Twitter</legend>
          <label>Handle</label>
          <input type="text" name="data[twitter][handle]" placeholder="@handle…">
          <label>Hashtag</label>
          <input type="text" name="data[twitter][hashtag]" placeholder="#hashtag…">
        </fieldset>
      </form>
    </div>
    <div class="col-md-6">
      <form>
        <fieldset>
          <legend>Instagram</legend>
          <label>Handle</label>
          <input type="text" name="data[instagram][handle]" placeholder="@handle…">
          <label>Hashtag</label>
          <input type="text" name="data[instagram][hashtag]" placeholder="#hashtag…">
        </fieldset>
   <div class="col-md-12">
     <button type="submit" class="btn">Submit</button>
   </div>
   </form><!-- row -->
</div>


</body>
</html>
